
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-beaker:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-soundcloud:before { content: '\e802'; } /* '' */