
.icon-globe:before { content: '\e804'; } /* '' */
.icon-flash:before { content: '\e801'; } /* '' */
.icon-asterisk:before { content: '\e802'; } /* '' */
.icon-beaker:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\e800'; } /* '' */