@import "bourbon/bourbon";
@import "neat/neat";


$font: 'Libre Baskerville', serif;
// $font: 'Varela Round', sans-serif;
$screen-line-height: 2em;
$print-line-height: 1.25em;
$screen-font-size: 16px;
$print-font-size: 11px;



html {
  font-size: $screen-font-size;
  @include outer-container();
  @include media(max-width 35em) {
    font-size: 12px;
  }
  a {
    text-decoration: none;
    color: black; 
    &:hover {
      text-decoration: underline;
    }
  }
}

* {
	font-family: $font;
	-webkit-font-smoothing: antialiased;
}


// General Styles
body {
  margin: 2em 0;
  @media screen {
    @include span-columns(10);
    @include shift(1);
    margin-bottom: 4em;
  }

  // Major Sections
  > section {
    @media screen {
      margin-bottom: 2em;
    }
  	> header {
      padding: 0.25em 0;
      font-size: 1.1em;  
      text-align: center;
      text-transform: uppercase;
  	}

    // Subsections
    > section {
      @media screen {
        margin-bottom: 2.5em;
      }
      > header {
        margin-bottom: 0.5em;
        > span {
          text-transform: uppercase;
          float: right;
          font-size: 0.8em;
        }
        small { text-transform: uppercase; }
      }
    }
    p.description {
      line-height: $screen-line-height;
      margin-top: 0.25em;
    }
  }
}

// Menu buttons
#buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  > ul {
    float: right;
    margin: 0;
    padding: 1em;
    line-height: 1em;
    > li {
      float: left;
      > a, >i {
        font-size: 1.5em;
        padding: 0.25em;
        color: rgb(150,150,150);
        &:hover {
          cursor: pointer;
          color: rgb(100,100,100);
        }
      }
    }
  }
}

// Name Banner
#title {
  text-align: center;
  margin: 4em 0;
  @include media(max-width 860px) {
    margin-bottom: 5em;
  }
  > h1 {
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
  }
  >#contact {
    list-style: none;
    padding: 0;
    > li {
      margin-bottom: 0.5em;
      font-size: 0.8em;
      float: left;
      width: 20%;
      @include media(max-width 860px) {
        width: 33%;
        &:nth-last-child(2), &:last-child {
          width: 50%;
        }
      }
    }
  }
}

#summary {
  display: none;
}

#projects {
  section.project {
    > a {
      color: black;
      padding-right: 0.5em;
      font-weight: 700;
      font-size: 0.8em;
      &.demo {
        border-right: 1px solid black;
      }
      &.github {
        padding-left: 0.25em;
      }
    }
  }
}


#work {

  >section {
    > header {


      > span.position {
        font-style: italic;
        text-transform: none;
        float: none;
      }
      > span.date {
        text-transform: none;
        float: right;
        @include media(max-width 399px) {
          display: block;
          float: none;
        }
      }
    }
  }
}

// Education Section
#education {
  > section {
    > header {
      > small.enrollment {
        &:before {
          content: ",  ";
          position: relative;
          left: -0.25em;
          @include media(max-width 400px) {
            display: none;
          }
        }
        @include media(max-width 400px) {
          display: block;
          float: none;
        }
      }
    }
    p {
      margin-top: 0.2em;
    }
  }
}

#skills-list {
  padding: 0 1em;
  line-height: $screen-line-height;
  > li {
    float: left;
    width: 45%;
    margin-right: 5%;

  }
}

// Thesis link
#thesis {
  @media screen {
    text-decoration: underline;
  }
}

// Print Styles
@media print {
  @page {
    margin: 10mm;
    size: auto;
  }
  html {
    font-size: $print-font-size;
  }
  body {
    margin: 0;
    @include fill-parent();
    > section {
      > header {
        margin: 0;
      }
      p.description {
        line-height: $print-line-height;
      }
    }
  }

  #buttons {
    display: none;
  }

  #title {
    margin-top: 0;
  }
  #projects {
    > section.project {
      > a {
        &:after {
          content: " : "attr(data-link);  
          font-weight: 400;
          font-variant: italic;
        }
      }
    }
  }

  #thesis {
    text-decoration: none;
    &:after {
      content: " (" attr(data-link) ")";
    }
  }

  #skills-list {
    line-height: 1.5em;
    margin-left: 0.5em; 
  }
}

